.button_round {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid $color-dark;
  border-radius: 50%;

  &.filled {
    background-color: $color-dark;

    &.active {
      background-color: $color-secondary;
    }
  }
}

.button {
  border-color: $color-dark;
  background-color: $color-light;

  @include font(1rem, $height: normal, $weight: 700, $spacing: 0.1rem);

  cursor: pointer;

  @extend %transition;

  &:hover:enabled {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}

.btn_close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../assets/icons/close_btn.svg");
  cursor: pointer;
}
.card__btn_close{
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../assets/icons/close_btn_white.svg");
  cursor: pointer;
}
