.button_round{
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid $color-dark;
  border-radius: 50%;
  &.filled{
    background-color: $color-dark;
    &.active{
      background-color: $color-secondary;
    }
  }
}