$line-height: 3px;

//placeholder
%line {
  content: "";
  width: 100%;
  height: $line-height;
  border-radius: 5px;
  position: absolute;
  left: 0;
  background-color: $color-light;

  @extend %transition;

  z-index: 10;
}

.header__hamburger {
  width: 45px;
  height: 20px;
  display: none;
  position: relative;
  cursor: pointer;

  @extend %transition;

  @include media($tablet) {
    display: inline-block;
  }

  &::before {
    @extend %line;

    top: 0;

    @extend %transition;
  }

  &::after {
    @extend %line;

    bottom: 0;

    @extend %transition;
  }

  &.active::before {
    top: calc(50% - $line-height/2);
    rotate: 45deg;
  }

  &.active::after {
    display: none;
  }
}

.hamburger__line {
  @extend %line;

  top: calc(50% - $line-height/2);

  @extend %transition;

  .header__hamburger.active & {
    rotate: 135deg;
  }
}
