.profile__icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../assets/icons/icon_profile.svg");
  background-repeat: no-repeat;
}

.icon__arrow_left {
  width: 14px;
  height: 23px;
  background-image: url(../assets/icons/Arrow\ 2.svg);
}
.icon__arrow_right {
  background-image: url(../assets/icons/Arrow\ 1.svg);
  width: 14px;
  height: 23px;
}
