$color-primary: #0c0c0e;
$color-secondary: #bb945f;
$color-light: #fff;
$color-dark: #000;
$color-input: #8e8e8e;
$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 0;
$font-size-root: 10px;
$tablet: tablet;
