.contacts {
  padding: 0 0 60px;
}

.contacts__title {
  text-align: center;
  margin: 0 0 61px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media {
    flex-direction: column;
    gap: 100px;
  }
}

.contacts__data {
  @include font(2rem);
  @include flex(40px);
}

.data__title {
  font-weight: 700;

  .data__director & {
    margin: 0 0 20px;
  }
}

.data__phones {
  @include flex(20px);
}
.contacts__map {
  display: flex;

  @include media {
    align-self: center;
  }

  @include media(720px) {
    width: 100%;
  }
}
