%hover {
  &:hover,
  &:active {
    text-shadow: 1px 0 0 $color-dark;
    cursor: pointer;
  }
}

.favorites {
  padding: 0 0 158px;

  @include media {
    padding: 0 0 55px;
  }
}

.favorites__wrapper {
  padding: 0 12px 0 67px;
  position:relative;

  @include media {
    padding: 0 48px 0 20px;
  }
}

.favorites__title {
  display: none;
  text-align: center;

  @include media {
    display: block;
    margin: 0 0 60px 30px;
  }
}

.favorites__text {
  @include font(2rem, normal, 700, $spacing: 0);

  margin: 0 0 38px;
}

// radio buttons
.favorites__inputs {
  display: flex;
  gap: 78px;
  margin: 0 0 35px;

  @include media(732px) {
    gap: 7%;
  }
}

.favorites__input {
  width: 17px;
  height: 17px;
  accent-color: $color-dark;

  @extend %hover;
}

.favorites__label {
  @include font(2rem, normal, 700, $spacing: 0);
  @extend %hover;

  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px;
}

.winter {
  padding-left: 0;
}

//cards
.favorites__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 37px;
  transition: visibility 0.7s linear,opacity 0.7s linear;

  @include media {
    justify-content: center;
    margin-right: 11px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid $color-dark;
  position: relative;
  max-width: 550px;
  padding: 15px 0 15px 20px;
  flex-basis: 50%;
  height: 558px;

  @include media {
    flex-basis: 100%;
  }
}


.card__title,
.card_subtitle {
  margin: 0 0 20px;
}

.card_subtitle {
  max-width: text-content;

  & span {
    text-transform: capitalize;
  }
}

.card__text {
  max-width: 355px;
  text-transform: capitalize;
  letter-spacing: 0.2rem;

  // margin: 0 0 15px;
}

.card__img {
  display: flex;
  position: absolute;
  bottom: -1px;
  left: 71%;

  &.right {
    left: 70.3%;
  }
}

.card__buttons {
  display: flex;
}

.card__button {
  padding: 9px 27px;

  &.own {
    border-color: $color-secondary;
    color: $color-secondary;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hidden{
  position: fixed;
  opacity: 0;
  visibility:hidden;
  z-index: -1;

}