.library-cards__title {
  text-align: center;
  margin: 0 0 61px;
}

.library-cards__forms {
  display: flex;
  justify-content: space-between;
}

.form__title {

  &.find{
    @extend %font-primary;
    text-align: center;
    margin: 0 0 30px;
  }
}

.form_left{
  flex-basis: 600px;
}

.form_left__container{
  border: 3px solid $color-secondary;
}

.form__inputs{
  background-color: $color-secondary;
  margin: 20px;
  padding: 20px 20px 25px 20px;
}

.form_right{
  flex-basis: 456px;
}