.footer {
  background-color: $color-primary;
  color: $color-light;
  padding:20px 0 44px;
}

.footer__top {
  @include font($height: 2rem, $spacing: normal);
  @include flex($direction: row);
  justify-content: space-between;
}

.footer__contacts {
  @include flex(18px);
  margin: 0 0 30px;

  & .address {
    @include flex();
  }

  & .social-networks {
    @include flex($direction: row);
    gap: 15px;
  }
}

.footer__times {
  @include flex(10px);

  > * {
    @include flex();
    align-items: flex-end;
  }
}

.footer__line{
  margin: 0 0 47px;
}

.footer__bottom {
  @include flex($direction: row);
  justify-content: space-between;
  @include font(2rem, 2rem);
}
