
.header__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: $color-light;
  background-color: $color-primary;
}
.header__title {
  @extend %font-secondary;
  @include font(3rem, 5rem, $spacing: 0.06rem);
}
.header__right{
  display: flex;
  gap:40px;
}
.header__nav {
  @include media() {
    display: none;
  }
}
.header__profile {
  display: flex;
  align-items: center;
  gap:40px;
}
.header__hamburger{
  display: none;
  @include media(){
    display: inline-block;
  }
}
