.header {
  background-color: $color-primary;
}
.header__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: $color-light;
}

.header__right {
  display: flex;
  gap: 40px;
}
.header__nav {
  @include media() {
    display: none;
  }
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__hamburger {
  display: none;
  @include media() {
    display: inline-block;
  }
}
