.modal__register {
  position: fixed;
  width: 250px;
  height: 390px;
  z-index: 11;
  background-color: $color-light;
  padding: 20px 25px;
  display: none;

  &.open {
    display: block;
  }
}

.register__title {
  @extend %font-secondary;
  @include font(2rem, 2rem, $spacing: 0.04rem);

  margin: 0 0 20px;
  text-align: center;
}

.register__form {
  @include font(1.5rem, 2rem, $spacing: 0.03rem);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input__container {
  margin: 0 0 10px;

  &:last-child {
    margin: 0;
  }

  & .input {
    width: 100%;
    border: 1px solid $color-secondary;
  }
}

.register__label {
  display: inline-block;
  margin: 0 0 10px;
}

.register__button {
  align-self: flex-start;
  padding: 9px 15px;
  margin: 0 0 10px;
}

.register__text {
  @include font(1rem, normal, 700, $spacing: 0);
}

.register__link {
  margin-left: 10px;
  text-decoration: underline;
}

.btn_close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../assets/icons/close_btn.svg");
  cursor: pointer;
}
