.overlay__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(142, 142, 142, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.open {
    display: flex;
  }
}
