.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: calc(100vw - 332px);
  height: 100vh;
  background-color: rgba(0 0 0 /.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @extend %transition;

  &.active {
    left: 0;
  }
}
